/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #f5f7fa;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: Lato,sans-serif;
	color: #283D56;
}

/* header footer common */
header, footer {
	width: 100%;
	text-align: center;
	background-color: #5586D6;
}
.footer-modal{
	background-color: #5586D6;

}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #5586d6;
	margin: 84px auto auto auto;
	padding: 0;
	border: 1px solid #888;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */


.container {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.banner {
	background: #5586D6;
	color: #fff;
	padding: 10px;
}



/* positions */
header {
	padding-top: 20px;
	font-size: 1.3em;
}
footer {
	padding: 10px;
	font-size: .8rem;
	margin-top: 20px ;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	position: relative;
	border-collapse: collapse;
	width: 100%;
}
.content {
	font-size: .8rem;
	width: 30%;
	vertical-align: top;
}

.content-middle {
	font-size: .8rem;
	width: 30%;
	vertical-align: top;
	text-align: center ;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 27px;
}

.newappIcon {
	display: block;
	max-width: 100px;
	max-height: 100px;
	margin: 0 auto;
	padding: 10px;
}

.appTitle {
	padding: 15px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5rem;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

.infoImg {
	cursor: pointer;
}
